
<center>	 	<% if signed_in? %><br /><%= link_to 'New Event', new_event_path %><% end %></center><br />
<div class="cal">
<% @events.each_with_index do |event, index| %>

  <% if index==0%>
		<div class="cal-text top-round">
	<% elsif index==@events.count-1%>
		<div class="cal-text bottom-round">
	<% else %>
			<div class="cal-text">
	<%end%>
	
	<h3><%= event.title %> <div class="date"> <%= event.start.strftime("%a, %b %e at %l:%M") + event.start.strftime("%p").downcase%> EST</div></h3>
	<p><%= Rinku.auto_link(simple_format(event.body.html_safe, {}, {:sanitize => false}).html_safe, mode=:all, link_attr=nil) %></p>
		 	<% if signed_in? %>
   <%= link_to 'Edit', edit_event_path(event) %>
   <%= link_to 'Delete', event, :confirm => 'Are you sure?', :method => :delete %>
			<% end %>
	<% if index!=@events.count-1%>
		<div class="bar"></div>
		<% end %>
</div> 
<% end %>
</div>


