<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    
    <center><%= f.text_area :content , :size=>"120x50"%></center>
  </div>
  <div class="actions">
    <center><%= f.submit %></center>
  </div>
<% end %>
<%= render 'directions' %>

