<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<% if @images %>
		<%= javascript_include_tag "jquery.easing-1.3.pack.js" %>
		<%= javascript_include_tag "jquery.mousewheel-3.0.4.pack.js" %>
		<%= javascript_include_tag "jquery.fancybox-1.3.4.js" %>
		<%= stylesheet_link_tag    "jquery.fancybox-1.3.4.css" %>
		
	<% end %>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="head-wrap">
		<div id="header">
			<h1>Make Music <br />Foundation</h1>
			<div id="guitar-neck"></div>	
			<nav>
				<ul>
					<li><%=link_to 'Home', '/home'%> <span class="purp">&bull;</span> </li>
					<li><%=link_to 'Calendar', events_path%> <span class="purp">&bull;</span></li>
					<li><%=link_to 'Gallery', '/images'%> <span class="purp">&bull;</span></li>
					<li><%=link_to 'NY', '#' %> <span class="purp">&bull;</span></li>
					<li><%=link_to 'Blog', '/blog_posts' %></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="shadow">
		<div id="container">
			<center><h2><%= @title %></h2></center>
			<% if @page %>
			<div id="sidecover">
				<div id="sidebar">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </p>
					<h3> Donate! </h3>
					<center><%= image_tag "donate.gif"%></center>
					<p>Pellentesque egestas justo convallis dui ullamcorper interdum. </p>
					<p>Nunc placerat lacinia felis, ac convallis arcu rutrum sed. Curabitur blandit luctus facilisis. </p> 
					<p>Cras et purus et mi aliquet pretium. Curabitur purus nunc, suscipit sed venenatis at, tempus ac velit. </p>
					<h3>Contact us!</h3>
					<ul>
						<li>Jane Doe: testing@gmail.com</li>
						<br />
						<li>John Doe: testing2@gmail.com</li>
					</ul>
			</div>
		</div>
		<div id="main" class="small">
		<% else %>
		<div id="main">
		<% end %>			
			<%= yield %>
		</div>
	</div>
	</div>
</body>
</html>
