<!DOCTYPE html>


	<head><meta charset="UTF-8">
	<title>Make Music - <%= @title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<% if @images %>
		<%= javascript_include_tag "jquery.easing-1.3.pack.js" %>
		<%= javascript_include_tag "jquery.mousewheel-3.0.4.pack.js" %>
		<%= javascript_include_tag "jquery.fancybox-1.3.4.js" %>
		<%= stylesheet_link_tag    "jquery.fancybox-1.3.4.css" %>

	<% end %>
	<!--[if lte IE 6]>
	<link href="ie.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'>

	
	</head>

	<body>

	<div id="header">
		<div id="image"></div>
		<nav>
    	<ul>
	    	<li><%=link_to 'Home', root_path%> <span class="purp">&bull;</span> </li>
				<li><%=link_to 'Calendar', events_path%> <span class="purp">&bull;</span></li>
				<li><%=link_to 'Gallery', '/images'%> <span class="purp">&bull;</span></li>
				<li><%=link_to 'Blog', '/blog_posts' %></li>
	    </ul>
		<div id="stripe"></div>
    </nav>
	</div> <!-- closing #header" -->
	<% if @page %>
	<div id="outer">
	<% else %>
	<div id="outer2">
	<% end %>

	<div id="clearheader">
	<!-- used to make room for the #header -->
	</div>
	<% if @page %>
	<div id="left">		
		<br /><br /><br /><br />
		<p>If you have any questions about Make Music Foundation, let us know! </p>
						<br/>
						<h3>Contact Us!</h3> <br />
						<ul>
							<li>Christine Lo: cl1636@stern.nyu.edu</li>
							<br />
							<li>Hennah Sekandary: hasekandary@gmail.com </li>
						</ul>
						<br />
						<img class="side" src="http://farm7.static.flickr.com/6166/6238962977_d27b1e272e_m.jpg" width="160" height="240" alt="TUNE 24">
	</div> <!-- closing #left -->
	<% end %>
	<% if @page %>
	<div id="middle1">
	<% else %>
	<div id="middle2">
	<% end %>
		<% if @page %><div class="bord"><% end %>
			<center><h2><%= @title %></h2></center>
			<%= yield %>
		<% if @page %></div><% end %>
	</div> <!-- closing #middle -->

	<% if @page %>
		<div id="right">
		</div> <!-- closing #right -->
	<% end %>

	<div id="clearfooter">
	<!-- used to make room for the #footer -->
	</div>

	</div> <!-- closing #outer -->

	<div id="footer">
		<h3>Make Music - 2011</h3> 
		
		
	</div> <!-- closing #footer -->

	</body>
	</html>